@model MinesweeperApp.Models.UserLogin

<div>
    <h4>Login was successful</h4>
    <hr />
    <p>Welcome, @Html.DisplayFor(model => model.Username)</p>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Start Playing</a> |
    <a asp-controller="Home" asp-action="Index">Back to Home</a>
</div>
